.page-container {
  background-color: #0e0e0e;
}

.page-container > img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100vw;
  min-height: 100vh;
  transform: translate3d(-50%, -50%, 0);
  z-index: -1;
}

.character-container {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 30px;
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
  height: 300px;
  text-align: center;
}

.character-page-title {
  font-size: 70px;
  font-weight: bold;
  font-family: 'Ink Free';
  color: white;
}

.character-header-container,
.character-body-container {
  display: flex;
  background-color: lightgray;
  margin: 3px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  height: 50px;
}

.character-header {
  font-size: 18px;
  font-weight: bold;
}

.character-info {
  margin: auto;
  width: 25%;
  color: black;
}

.add-button {
  background-color: rgba(208, 204, 204, 0.3);
  margin: 0 3px;
  padding: 5px;
  border: 1px solid rgba(208, 204, 204, 0.7);
  border-radius: 5px;
  width: 99.3%;
  height: 50px;
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.edit-button,
.delete-button {
  background-color: #f4511e;
  margin: 3px;
  padding: 5px;
  color: white;
  border-radius: 5px;
  width: 45%;
  text-decoration: none;
}
