button {
  background: none;
  background-color: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  text-decoration: underline;
}

.signup-container,
.login-container {
  padding: 50px;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 285px;
}

.signup-title,
.login-title {
  font-size: 22px;
  font-weight: bold;
}

.signup-input,
.login-input {
  border-radius: 5px;
  margin-top: 5px;
}

.signup-button,
.login-button {
  text-decoration: none;
  background-color: #f4511e;
  border: 1px solid white;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}
